<!DOCTYPE html>
<html>
<head>
	<title>Customer Home page</title>
</head>
<body>
	<h1>Welcome <%= user %> to the Home!</h1>
	<a href="/employeeHome/profile">View Profile</a>
	<a href="/logout">logout</a>
</body>
</html>