<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Add User</h1>
	<a href="/home">Back</a> | 
	<a href="/logout">logout</a>
	
	<form method="post">
	<table border="1">
		<tr>
			<td>Employee Name</td>
			<td><input type="text" name="empName" required></td>
		</tr>
		<tr>
			<td>Company Name</td>
			<td><input type="text" name="compName" required></td>
		</tr>
		<tr>
			<td>Contact No.</td>
			<td><input type="number" name="contact" required></td>
		</tr>
		<tr>
			<td>User Name</td>
			<td><input type="text" name="username" required></td>
		</tr>
		<tr>
			<td>Passwors</td>
			<td><input type="password" name="password" required></td>
		</tr>
		<tr>
			<td><input type="submit" name="submit" value="Save" required></td>
			<td></td>
		</tr>
	</table>
</form>

</body>
</html>