<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<fieldset>
	<form method="post" >
	<table style="">
		<tr>
			<td><legend style="text-align: center;">Login</legend></td>
		</tr>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr> 
			<td><input type="submit" name="submit" value="Login"></td>
			<td><a href="/registration">Registration</a></td>
			<td></td>
		</tr>
	</table>
	</form>
</fieldset>
</body>
</html>