<!DOCTYPE html>
<html>
<head>
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<h1 style="text-align: center;">Registration</h1>
	<form method="post">
	<table align="center">
		<tr>
			<td>Customer Name</td>
			<td><input type="text" name="empName" required></td>
		</tr>
		<tr>
			<td>Company Name</td>
			<td><input type="text" name="compName" required></td>
		</tr>
		<tr>
			<td>Contact No.</td>
			<td><input type="number" name="contact" required></td>
		</tr>
		<tr>
			<td>User Name</td>
			<td><input type="text" name="username" required></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="password" required></td>
		</tr>
		<tr colspan="2">
			<td colspan="2" align="center"><input type="submit" name="submit" value="Register" class="btn btn-primary"></td>
			<td></td>
		</tr>
	</table>
</form>

</body>
</html>